body {
	margin:0;
	padding:0;
}

#leftmenu {
	width:180px;
	height:800px;
	padding:1px;
	display:block;
	float:left;
	border:1px solid #666;
}

#weatherbox {

}

#mappanel {
	width:800px;
	height:800px;
	display:block;
	float:left;
	border:1px solid #666;
}

#rightpanel {
	width:800px;
	height:800px;
	display:block;
	float:left;
	border:1px solid #666;
}
.btn {
	display: inline-block;
	box-sizing: border-box;
    color: #FFF;
    text-align: center;
    font-size:16px;
    padding:0 25px;
	line-height:28px;
    border-radius:2px;
    text-decoration:none;
	border:0;
	min-width:120px;
	background:#A3A3A3;
	height:28px;
	cursor:pointer;
	margin-bottom: 2px;
	vertical-align:top;
}
.btn:hover {
	background:#929292;
}
