body {
	margin:0;
	padding:0;
}

#leftmenu {
	width:calc(10% - 20px);
	height:800px;
	padding:10px;
	display:inline-block;
	vertical-align:top;
}

#weatherbox {

}

#mappanel {
	width:800px;
	height:800px;
	display:inline-block;
}

#rightpanel {
	width:calc(100% - 800px - 10% - 20px);
	padding:10px;
	height:800px;
	display:inline-block;
	vertical-align:top;
}
.btn {
	display: inline-block;
	box-sizing: border-box;
    color: #FFF;
    text-align: center;
    font-size:16px;
    padding:0 25px;
	line-height:28px;
    border-radius:2px;
    text-decoration:none;
	border:0;
	min-width:120px;
	background:#A3A3A3;
	height:28px;
	cursor:pointer;
	margin-bottom: 2px;
	vertical-align:top;
}
.btn:hover {
	background:#929292;
}
.btn-action {
	width:28px;
	padding:0;
	min-width:0;
}

.person-link {
	cursor:pointer;
	color:#222;
}
.person-link:hover {
	color:#444;
}
.person-link.dead {
	color:#888;
}
.person-link.dead:hover {
	color:#AAA;
}
